@font-face{
    font-family: "HomeChristmas";
    src: url('/fonts/HomeChristmas/Home\ Christmas.otf');
}

@font-face {
    font-family: "MilkMango";
    src: url('/fonts/MilkMango/Milk\ Mango.otf');
}

@font-face {
    font-family: "KGRed";
    src: url('/fonts/KGRed/KGRedHands.ttf');
}

body{
    background-color: #e2bca3;
}

.main h1{
    text-align: center;
    font-family: HomeChristmas;
    font-size: 60px;
    color: #E1283A;
    display: none;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.items{
    background-color: #5c262b;
    height: 800px;
    width: 900px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.items .item{
    display: flex;
    position: relative;

}

.items p{
    text-align: center;
    font-size: 25px;    
    font-family: KGRed;
    padding: 20px;
    color: rgb(235, 200, 172);
    animation: bounceIn;
    animation-duration: 2.5s;
}


.items img{
   border-radius: 30px;
   position: absolute;
   bottom: 0;
   right: 0;
   max-width: 250px;
   max-height: 250px;
}

.loader{
    height: 100vh;
     position: fixed;
     background-color: #e2bca3;
     z-index: 2;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

